.pagesWrapper {
    padding: 29px 28px 35px 10px;
    font-size: 20px;
}

.selectedPage {
    cursor: pointer;
    font-weight: bold;
    padding: 5px 44px 0 2px;
}

.page {
    cursor: pointer;
    padding: 5px 44px 0 2px;
    margin-bottom: 100px;
}


.prevButton {
    margin-right: 30px;
}

.nextButton, .prevButton {
    background: #fffaf0;
    border: 0;
    cursor: pointer;
    font-size: 18px;

}